body{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#333;
color:white;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

section{
background:white;
margin:20px;
padding:25px;
border-radius:10px;
}

ul{
list-style:none;
}

.project{
background:#eee;
margin:10px;
padding:15px;
border-radius:8px;
}

button{
padding:10px 15px;
background:blue;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:darkblue;
}

.dark{
background:#222;
color:white;
}